{% extends 'main.html' %} 

{% block content %} 

<div class="container mt-5">
    <div class="text-center">
        <h1>Welcome to Admin Section</h1>
        <h3>Login as an admin</h3>
        <!-- Display messages if any -->
        {% if messages %}
            <ul class="list-unstyled">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" class="mt-4">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }} {{ form.email() }}
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password() }}
            </div>
            <div class="form-group">
                {{ form.login(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>



{% endblock %} 